<div *ngIf="messageService.messages.length" class="mb-10 mt-5">
  <h2 class="text-xl font-bold">Messages</h2>
  <button
    type="button"
    class="rounded-full bg-blue-700 text-white p-2 mb-4 mt-2 hover:bg-blue-800"
    (click)="messageService.clear()"
  >
    Clear messages
  </button>
  <div
    *ngFor="let message of messageService.messages"
    class="p-4 text-sm text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-300"
  >
    <span class="font-medium">{{ message }}</span>
  </div>
</div>
